
$brand-color:#0ec080;


$dark:#032303;
$lightgray:#e3e3e3;

$roboto:'Roboto Slab', serif;

$berk:'Berkshire Swash', cursive;
/*
font-family: 'Roboto Slab', serif;
font-family: 'Berkshire Swash', cursive;
*/